@tailwind base;
@tailwind components;
@tailwind utilities;


.info {
    @apply text-xl text-center;
}

button {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    @apply bg-white w-full py-0.5 tracking-widest capitalize text-lg transition-all duration-200 ease-linear;
}

button:nth-of-type(2n-1) {
    @apply rounded-t-md;
}

button:hover {
    @apply bg-slate-800 text-white;
}

button.active {
    @apply bg-black text-white;
}

table,
tbody,
td,
tr {
    @apply border-separate border border-slate-400;
}